<form [formGroup]="ReqForm" (ngSubmit)="RequestSubmit();" >
    <div class="container">
     <table align="center" class="table table-striped">
            
            <tr  class="form-group">
                  <td>
                         <label class="form-check-label">PROJECT NAME</label>
                  </td>
                  <td>
                          <input class="form-control" formControlName="projectId"   disabled placeholder="{{rObj1.project.projectName}}"/>
                  </td>
            </tr>
            <tr class="form-group">
                  <td>
                         <label class="form-check-label">REQUIRED ROLE</label>
                  </td>
                  <td>    
                    <select class="custom-select" formControlName="rarRoleId"  [class.is-invalid]="ReqForm.get('rarRoleId').invalid && ReqForm.get('rarRoleId').touched">
                     
                        <option *ngFor="let r of roleList" [value]="r.roleId">{{r.roleType}}</option>
                      </select>
                      <small class="text-danger" [class.d-none]="ReqForm.get('rarRoleId').valid || ReqForm.get('rarRoleId').untouched">
                                   MANDATORY TO SELECT A VALUE
                           </small>
       
                </td>
            </tr>
            <tr  class="form-group">
            
            
                  <td>
                         <label class="form-check-label">REQUIRED EXPERIENCE(in years)</label>
                  </td>
                  <td>
                         <input class="form-control"  type="number" formControlName="reqRequiredExp" [class.is-invalid]="ReqForm.get('reqRequiredExp').invalid && ReqForm.get('reqRequiredExp').touched"/>
                         <small class="text-danger" [class.d-none]="ReqForm.get('reqRequiredExp').valid || ReqForm.get('reqRequiredExp').untouched">
                                   MANDATORY TO ENTER VALUE, RANGING FROM 0 TO 99 YRS
                           </small>
       
                  </td>
            </tr>
            <tr  class="form-group">
                  <td>
                         <label class="form-check-label">REQUIRED SKILL</label>
                  </td>
                  <td>
                         <select formControlName="reqSkills" class="form-control"[class.is-invalid]="ReqForm.get('reqSkills').invalid && ReqForm.get('reqSkills').touched">
                            <option [value]="0">----select Skill----</option>
                            <option *ngFor="let s of skillList" [value]="s.skillName">{{s.skillName}}</option>
                         </select>
                         <small class="text-danger" [class.d-none]="ReqForm.get('reqSkills').valid || ReqForm.get('reqSkills').untouched">
                                   MANDATORY TO SELECT A VALUE
                           </small>
       
               
                  </td>
            </tr>
            <tr  class="form-group">
                  <td>
                         <label class="form-check-label">REQUEST START DATE</label>
                  </td>
                  <td>
                         <input class="form-control"  type="date" formControlName="reqProjStartDate" [class.is-invalid]="ReqForm.get('reqProjStartDate').invalid && ReqForm.get('reqProjStartDate').touched"/>
                         <small class="text-danger" [class.d-none]="ReqForm.get('reqProjStartDate').valid || ReqForm.get('reqProjStartDate').untouched">
                                   MANDATORY TO SELECT A VALUE
                           </small>
                          
                  </td>
            </tr>
            <tr  class="form-group">
                  <td>
                         <label class="form-check-label">REQUEST END DATE</label>
                  </td>
                  <td>
                         <input type="date" class="form-control" formControlName="reqProjEndDate" [class.is-invalid]="ReqForm.get('reqProjEndDate').invalid && ReqForm.get('reqProjEndDate').touched"/>
                         <small class="text-danger" [class.d-none]="ReqForm.get('reqProjEndDate').valid || ReqForm.get('reqProjEndDate').untouched">
                                   MANDATORY TO SELECT A VALUE
                           </small>
       
                  </td>
            </tr>
            <tr  class="form-group">
                  <td>
                         <label class="form-check-label">REMARKS</label>
                  </td>
                  <td>
                         <textarea formControlName="reqRemarks" rows="5" class="form-control" cols="30" ></textarea>
                  
                  </td>
            </tr>
            <tr  class="form-group">
                  <td>
                  </td>
                  <td>
                         <input type="submit" value="submit" id="btn" class="btn btn-primary"/>
                  </td>
            </tr>
     </table>
     </div>
<form>