
 <nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/admin">
    <h2> Admin </h2>
    </a>
    <div id="clicks">
   <a class="navbar-brand" id="wkm" routerLink="/Addres"><h6>Add Employee</h6></a>
    <a class="navbar-brand" id="wkm" routerLink="/requestdetail"><h6>Request Details</h6></a>
    <a class="navbar-brand" id="wkm" routerLink="/allDetails"><h6>Resources</h6></a>
         <a class="navbar-brand" id="wkm" routerLink="/allReq"><h6>All Request</h6></a>
         
    </div>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" >
          
        <a class="nav-link" id="lg" href="/logout" > <b>Logout</b></a>
         
      </li>
      <li></li>
     
    </ul>

  </nav>

